:root {
  --background: #dddddd;
  --background-prime: #edfdfd ;
  --header-color: gray;
  --header-text-color: #8f9f9f;
  --text-color: rgba(0, 0, 0);
  --text-back: rgba(200,200,200);
}

.App {
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

.text {
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  padding: 10px;
  color: var(--text-color)
}

.title-text{
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
/* Header part */
.header {
  /* Initial properties */
  width: 100%;
  /* Using Flex */
  display: flex;
  align-content: center;
  padding-bottom: 10px;
  /* Colors */
  background-color: var(--header-color);
}

.header:hover {
  opacity: 0;
}

/* header-text */
.header-text {
  color: var(--header-text-color);
  opacity: 1;
  /* Using Flex */
  display: flex;
  flex-direction: column;
  align-content: center;
}
/* Main-div */
.main-div {
  /* Grid */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 2rem;
  grid-auto-flow: dense;
  /* Padding */
  padding: 1rem;;
}

/* Secondary-div */
.secondary-div {
  background-color: var(--background-prime);
  /* Grid */
  display: grid;
  grid-template-rows: 3% 30% 67%;
  grid-gap: 10px;
  padding: 5px;
}

.video-description {
  border: 1px solid #8f9f9f;
  border-spacing: 10px;
  background-color: var(--text-back);
}

/* Video-part of the job */
.secondary-div .video-cont {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}